
body{
    background-color: bisque;
    margin-top: 0px;
    margin-left: 100px;
    width:950px;
}
:root{
	/*------------------theme colors-----------------*/
	--text-gray:#3f4954;
	--text-light:#686666da;
	--bg-color:#0f0f0f;
	--white:#ffffff;
	--midnight:#104f55;
	
	/*-------------------theme colors-------------*/
	--sky:#3f4954;
	
	
	/*---------------theme font-family------------------*/
	--Abel:'Abel',cursive;
	--Anton:'Anton',cursive;
	--Josefin:'Josefin',cursive;
	--Lexend:'Lexend',cursive;
	--Livvic:'Livvic',cursive;
}

#container{
    width:90%;
    height:auto;
    margin:auto;
    background-color:rgb(187, 178, 178);
}
.menu{
    width:80%;
    margin-left:3px;
    float:left;
    border:1px double salmon;
    border-radius: 10px;
    background-color: bisque;
}
.tv{
    width:80%;
    float:left;
    border:2px dotted salmon;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 20px;
		
}
/*pointer-events:none;*/
button{
    width:200px;
    height:40px;
    padding:2px 12px;
    margin:7px;
    border-color: antiquewhite;
    border-radius: 8px;
    background-image: url('');
    color:aqua;
    font-size: 25px;
    margin-left: 15px;
    display:inline-block;
}
.radiosmall{
    width:670px;
    height:70px;
    margin-left:5px;
    margin-top: -10px;
}
#myframe{
    margin-top: 1px;
    border-radius: 15px;
}
/*---------------------------Global Classes--------------------------*/
a{
    text-decoration:none;
}
.flex-row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
ul{
    list-style-type:none;
}

h3{
    font-family:var(--Lexend);
    font-size:1.5rem;
    text-align:center;
    margin-top: 5px;
}

.text-gray{
    color:var(--text-gray);
}

p{
    font-family:var(--Lexend);
    color:var(--text-gray);
}
/*--------xxxx---------------Global Classes--------xxxxx-------------*/
/*----------------------------Navbar---------------------------------*/
.nav{
	background:antiquewhite;
	padding:0 4rem;
	height:0rem;
	min-height:10vh;
	overflow:hidden;
    
	transition:height 2s ease-in-out;
}
.nav .nav-menu{
	justify-content:space-between;	
}
.nav .nav-items{
	display:flex;
	margin:0;
}
.nav .nav-items .nav-link{
	padding:0.2rem 0.2rem;
    margin:10px;
    margin-left: 3px;
    padding-right: 6px;
    font-weight: 500;
    color:white;
    background-color: red;
    border-radius: 10px;
	font-size:1.6rem;
	position:relative;
	font-family:var(--Abel);	
}

.nav .nav-brand a{
	font-size:1.8rem;
    color:rgb(155, 85, 85);
	padding:1rem 0;
	display:block;
	font-family:var(--Lexend);
}
.nav-link a{
    color:white;  
}
 /*------------xxxxxx---------- Navbar---------xxxxx-------------------*/
 
 /*-----------------Viewport less than or equal to 520px----------------*/
 @media (max-width:520px){
body{
    background-color: bisque;
    margin-top: 0px;
    margin-left: 1px;
    width:500px;
    }
#container{
    width:500px;
    height:auto;
    margin-left:50px;
    background-color:rgb(187, 178, 178);
}
.menu{
    width:300px;
    margin-left:2px;
    float:left;
}
.tv{
    width:300px;
    float:left;
    background-color: antiquewhite;
    cursor:pointer;
    margin-top: 20px;
}
button{
    width:80px;
    height:25px;
    color:aqua;
    text-decoration: none;
    font-size: 10px;
    display:inline-block;
    margin-left: 9px;
}
.nav{
	background:antiquewhite;
	padding:0 4rem;
	height:0rem;
	min-height:10vh;
	overflow:hidden;
	transition:height 2s ease-in-out;
}
.radiosmall{
    width:280px;
    height:100px;
}
.nav .nav-menu{
	justify-content:space-between;	
}

.nav .nav-items{
	display:relative;
	margin-top:10px;
}
.nav .nav-items .nav-link{
	padding:0.2rem 0.2rem;
    margin:5px;
    margin-left: 3px;
    padding-right: 6px;
    font-weight: 300;
    color:white;
    background-color: red;
    border-radius: 10px;
	font-size:1.0rem;
	position:relative;
	font-family:var(--Abel);	
}
.nav-brand a{
   font-size:1.0rem; 
   margin-left: -60px; 
}
.nav .nav-brand a{
	font-size:1.0rem;
	padding:1rem 0;
	display:block;
	font-family:var(--Lexend);
}
}
